*{
    margin: 0;
    padding: 0;
}

.buttons{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    height: 5vh;
}

.buttons button{
    width: 50%;
    background-color: yellow;
    font-size: 25px;
    transition: 1s;
}

.buttons button:hover{
    background-color: aqua;
}

.text{
    background-color: blue;
    color: white;
    text-align: center;
    width: 10%;
    font-size: 25px;
    border: 1px solid black;
    height: 20vh;
}

.elements{
    display: flex;
    flex-wrap: wrap;
}

.inputs{
    position: fixed;
    bottom: 7vh;
}

input, label{
    font-size: 20px;
    padding: 5px 15px;
}